<nav class="navbar navbar-expand-lg navbar-dark"style="background:rgba(32, 151, 91,0.8)">
  <div class="container-fluid" >
    <a class="navbar-brand" [routerLink]="['/start']">
      <h3><img src="../../../assets/AS.ico" style="max-height:45px;max-width: 45px;"><strong> A</strong>groSmart Co</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/proyectos" routerLinkActive="active">
            <i class="fas fa-project-diagram"></i>
            Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/proyectos/add" routerLinkActive="active">
            <i class="fas fa-plus-circle"></i>
            Add Project</a>
        </li>
      </ul>
    </div>
  </div>
</nav>