/* You can add global styles to this file, and also import other style files */
.colortitulos {
    color: #4d4d4d
}

.circular--square {
    border-radius: 50%;
  }


  h1,h2,h3,h4,h5,p,a,span{
    font-family: "Roboto";
  }