div.content {
    margin-left: 180px;
    padding: 1px 16px;
    height: 1000px;
    position: absolute;
}

@media screen and (max-width: 400px) {
    .col-xl-9 {
      width: 100%;
      float: none;
      font-size: 10px;
    }
}