<app-navigation></app-navigation>
<video autoplay muted loop id="myVideo">
  <source src="./assets/Tropical.mp4" type="video/mp4">
</video>

  <div class="center">
    <ul class="col-md-12">
      <li>
        <h1 class="font-weight-bold text-uppercase">We work to strengthen Agro in Colombia.</h1>
        <p class="font-weight-bold text-uppercase">Currently, we work for the Coconut sector.</p>
        <button pButton type="button" label="Statistics" class="ui-button-rounded ui-button-success"></button> 
        <button pButton type="button" label="E-Commerce" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="Crops" class="ui-button-rounded ui-button-success"></button>
        <button pButton type="button" label="Education" class="ui-button-rounded ui-button-success"></button>
      </li>
    </ul>
  </div>
