.center { 
    color:white;
    position: absolute;
    width: 100%;  
    height: 50%;
  }

  .center ul {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
}
@media screen and (max-width: 400px){

  h1{
    font-size: 14px;
  }

  .center ul{
    font-size: 10px;
  }
}

