<app-navigation></app-navigation>
<section>
  <h1 class="mt-4 text-center font-weight-bold colortitulos">How was Agrosmart born?</h1>

  <div class="container-fluid py-5" style="background-color:#f9f8f8">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-10">
        <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
          <h3 class="mt-4 text-center font-weight-bold" style="color:#2256a0">A great opportunity
          </h3>
          <div class="card-body">
            <div class="container">
              <p class="text-left lead">Agrosmart is an idea that was born in response to obvious flaws and
                problems in the coconut sector. Due to our direct interaction with the sector and the knowledge our team
                has about the coconut processing processes (from harvest to consumption), we identify that the sector
                can reach its maximum potential by directly relying on technology.
              </p>
              <p>
                For this reason, we decided to establish ourselves as a team to analyze and propose solutions that allow
                us to generate growth and development in the sector. We are confident that our work will allow us to
                provide and implement solutions that are finally consolidated as opportunities for improvement.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-10">
        <img src="./assets/idea.jpg" style="max-width:450px;max-height: 450px;width: 100%;height: 90% ;border-radius: 5%;display: block; margin-left: auto;
            margin-right: auto;opacity:0.9;">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="container">
      <h1 class="mt-4 text-center font-weight-bold colortitulos">Why work with us?
      </h1>
      <div class="container">
        <p class="text-center lead">We are an entrepreneurial team engaged to our business values. We are
          passionate about technology, entrepreneurship, challenges and innovation.
        </p>
        <br>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:#2256a0">Honesty
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left lead">Honesty is a value that prevails in our team. To be our word is the
                  letter of presentation for our clients. Being honest exposes us to the world and above all to our
                  clients, as trustworthy, credible and responsible people and entrepreneurs.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:rgb(31, 138, 84)">Engagement
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left lead">Being passionate about what we do, makes it easier for us to be
                  committed not only to our clients, but to ourselves.
                </p>
                <p class="lead">
                  The commitment allows us to be in search of innovative ideas and new and better solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:#0197cc">Respect
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left lead">
                  When we respect those who are part of our work team, the work stops being a team and becomes work as a
                  family.
                </p>
                <p class="lead">
                  To consolidate a culture of respect in our team, guarantees that we respect 100% of our clients.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid py-5">
  <div class="container">

    <div class="container">
      <h1 class="mt-4 text-center font-weight-bold colortitulos">Team
      </h1>
      <div class="container">
        <p class="text-center lead">We are an entrepreneurial team committed to our business values. We are
          passionate about technology, entrepreneurship, challenges and innovation.
        </p>
        <br>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="./assets/team/angel.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ángel</h5>
              <p class="card-text">I'm Angel Jarrin. Telematic Engineer I like innovation, technology and the
                development of mobile applications. I like challenges and learn from every experience that the
                technological world demands.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="./assets/team/juan.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">JuanCa</h5>
              <p class="card-text">I'm Juan Carlos Cadavid. Systems Engineer. I'm passionate about technology, research
                and challenges. I love software development, problem solving and proposing innovative ideas. </p>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="./assets/team/cristian.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cristian</h5>
              <p class="card-text">I'm Cristian Molina. Industrial designer. I love innovation and consulting. I am
                passionate about designing, building and implementing industrial solutions for each of my clients'
                processes. </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>



<footer class="sticky-footer pt-4" style="background-color:rgba(38,50,56);color: white">


  <div class="container-fluid text-center text-md-left">

    <div class="text-center my-auto text-white py-2">
      <h3><b>Contact Us</b></h3>
      <div class="row">
        <div class=" text-center" style="display: block;margin-left: auto;margin-right: auto;">
          <p><img src="./assets/maps.png"> Cra 53 # 13 - 65 Cali, Colombia</p>
          <p> <img src="./assets/phone.png"> 317 515 4213 - 318 554 9129 - 304 4229544</p>
          <p><img src="./assets/mail.png"> contacto@agrosmartco.com.co</p>
        </div>
      </div>
      <div class="row justify-content-center">

        <a target="_blank" href="https://www.linkedin.com/company/agrosmart-co"><img src="./assets/linkedin.png"
            style="max-width: 50px;max-height: 50px"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCM7SZIlGOs9pZpAIHogapUw"><img
            src="./assets/youtube.png" style="max-width: 50px;max-height: 50px;margin-left: 10px"></a>

      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3" style="background-color:rgba(30,40,45);color: white">© 2019 Copyright:
    <a> AgroSmart Co</a>
  </div>

</footer>