<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background:rgba(32, 151, 91,0.8);">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/English/start']">
      <h4><img src="./assets/drone3.png" style="max-height:40px;max-width: 40px;"><strong> A</strong>groSmart Co</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/English/start" routerLinkActive="active">
            Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/English/team" routerLinkActive="active">
            Team</a>
        </li>

        <li class="nav-item">
          <a #rutas class="nav-link" routerLink="/" routerLinkActive="active" value="English/start" (click)=getCurrentRoute()>
            Spanish Version</a>
        </li>
      </ul>
    </div>
  </div>
</nav>