<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" style=" box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/English/start']">
      <img src="./assets/logoAS.png" style="max-height:60px;max-width: 200px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/English/start" routerLinkActive="active">
            Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/English/team" routerLinkActive="active">
            Team</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/English/projects" routerLinkActive="active">
              Projects</a>
          </li>

        <li class="nav-item">
          <a #rutas class="nav-link" routerLink="/" routerLinkActive="active" value="English/start" (click)=getCurrentRoute()>
            Spanish Version</a>
        </li>
      </ul>
    </div>
  </div>
</nav>