#myVideo {
    position: fixed;
    right: 0;
    min-width: 100%; 
    min-height: 100%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
  }


.center { 
    color:black;
    position: absolute;
    width: 100%;  
    height: 50%;
    /* background-color:  rgba(32, 151, 91,0.1); */
    align-items: center;
  }

  .center ul {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
}
@media screen and (max-width: 400px){

  h1{
    font-size: 14px;
  }

  .center ul{
    font-size: 10px;
  }
}

