<app-navegacion></app-navegacion>
<!-- <video autoplay muted loop id="myVideo">
  <source src="./assets/Tropical.mp4" type="video/mp4">
</video> -->

<div class="center">
  <ul class="col-md-12">
    <li>
      <h1 class="mt-4 text-center font-weight-bold text-uppercase" style="color:#4d4d4d">Trabajamos para fortalecer el Agro en Colombia</h1>
      <p class="font-weight-bold text-uppercase" style="color:#4d4d4d">Actualmente trabajamos para el sector Cocotero.</p>
      <div class="container">

        <button pButton type="button" label="Estadisticas" class="ui-button-rounded ui-button-success"></button>

        <button pButton type="button" label="E-Commerce" class="ui-button-rounded ui-button-success"
          style="margin-left: 10px"></button>

        <button pButton type="button" label="Cultivos" class="ui-button-rounded ui-button-success"
          style="margin-left: 10px;margin-top:10px"></button>

        <button pButton type="button" label="Educacion" class="ui-button-rounded ui-button-success"
          style="margin-left: 10px"></button>

      </div>
    </li>
  </ul>
</div>