


  <app-navigation></app-navigation>
  

  <div id="page-content-wrapper">
      
  <div class="container container-fluid">

      <div class="row justify-content-center">
          <div class="col-10">
              <h1 class="text-muted" align="center">Certification Processes</h1>
              <br>
              <p class="lead">At Agrosmart we support you in the growth of your company. <br>
                With our team of consultants, you will receive advice, support and monitoring in each of the certification processes required to market and export your product.</p>
          </div>
          
        </div>
        <br>
        <br>
        
        <div class="row justify-content-center">
          <div class="col-10">
              <h2 class="text-muted">Why be certified?</h2>
              <p class="lead">
                  Certification guarantees that, his or her products, complies with all the procedures of good looks demanded by the regulatory entities in the national territory. These procedures tell the market that your product will not affect the health of humans and animals.</p>
          </div>
         
        </div>
        <br>
        <br>
        
        
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-muted">What are the regulatory bodies with which I must certify my product or business?</h2>
                <p class="lead">
                    To certify your product, you must identify what the current need is. Agrosmart will support you in each of the requirements requested for each entity in order to streamline the process and can boost the growth of your business.
                    
                    Once identified, refer to one of the following regulatory entities:
                  </p>
                  <br>
            </div>
          </div>

          <br>
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <img src="../../../../assets/certificaciones/logo-ica.svg" alt="" class="img-fluid">
              </div>
            <div class="col-lg-5">
                <blockquote class="blockquote">
                    <p class="lead">"The Colombian Agricultural Institute, ICA, aims to contribute to the sustained development of the agricultural, fishing and aquaculture sector, through the prevention, monitoring and control of health, biological and chemical risks for animal and plant species, applied research and administration. , research and management of fisheries and aquaculture resources, in order to protect the health of people, animals and plants and ensure the conditions of trade"</p>
                    <footer class="blockquote-footer"><cite title="Source Title"><a href="https://www.ica.gov.co/el-ica/funciones">Instituto Colombiano Agropecuario</a></cite></footer>
                  </blockquote>
            </div>
          </div>

          <br>
          <br>
          <div class="row justify-content-center">
              <div class="col-lg-5 order-lg-2">
                <img src="../../../../assets/certificaciones/invima/invima.png" alt="" class="img-fluid">
                </div>
              <div class="col-lg-5 order-lg-1">
                  <p class="lead">If your need is to enter your product to large areas or export it, it is necessary that your product or products have this record..</p>
                  <blockquote class="blockquote">
                      <p class="lead">"INVIMA exercises quality and safety control of medicines, biological products, <strong>food,beverages,</strong>  cosmetics, devices and medical-surgical, dental, homeopathic natural products and those generated by biotechnology, diagnostic reagents, and others that may have an impact on individual and collective health. Additionally, carry out sanitary control over advertising of the aforementioned products"</p>
                      <footer class="blockquote-footer"><cite title="Source Title"><a href="http://www.redconsumidor.gov.co/publicaciones/invima_pub">Red Nacional de Protección al Consumidor</a></cite></footer>
                    </blockquote>
              </div>
            </div>


            <br>
          <br>
          <div class="row justify-content-center">
              <div class="col-lg-5 order-lg-1">
                <img src="../../../../assets/certificaciones/procolombia.jpg" alt="" class="img-fluid">
                </div>
              <div class="col-lg-5 order-lg-2">
                  <blockquote class="blockquote">
                      <p class="lead">"Organization in charge of the commercial promotion of non-traditional exports, international tourism and Foreign Investment in Colombia. Through its national and international network of offices, provides comprehensive support and advice to national entrepreneurs, through services aimed at facilitating the design and implementation of its internationalization strategy, seeking the generation, development and closure of business opportunities"</p>
                      <footer class="blockquote-footer"><cite title="Source Title"><a href="https://www.inviertaencolombia.com.co/acerca-de-proexport.html">Invierta en Colombia</a></cite></footer>
                    </blockquote>
              </div>
            </div>

            <br>
            <br>

            <div class="row justify-content-center">
                <div class="col-lg-5 order-lg-2">
                  <img src="../../../../assets/certificaciones/registro exportador/Dian.png" alt="" class="img-fluid">
                  </div>
                <div class="col-lg-5 order-lg-1">
                    <blockquote class="blockquote">
                        <p class="lead">"In Colombia, any company or natural person that intends to make exports, must have a unique Tax Registry -RUT- that enables it before the Directorate of National Taxes and Customs -DIAN-; if you already have it, you must verify that you are registered as an exporter, otherwise you will need to update it; In addition, when carrying out import and / or export operations, it will be obliged to operate under the Common Regime, for which reason it must process its billing resolution with the DIAN. Do not forget that you will have tax liability (VAT declaration, billing, retentions, exogenous among others) will be registered in the Muisca and will have an electronic signature (DIAN). These procedures and documents are processed in the offices of the DIAN, or via<a href="https://www.dian.gov.co/"> www.dian.gov.co</a>"</p>
                        <footer class="blockquote-footer"><cite title="Source Title"><a href="../../../../assets/certificaciones/documentos procolombia/Guia_Proceso_Exportaciones 2018(262).pdf" download="Guiaprocolombia">
                          Guía de Proceso de Exportaciones de Procolombia
                          </a></cite></footer>
                      </blockquote>
                </div>
              </div>

  </div>
  <br>
  <footer class="sticky-footer "
  style="background-color:#3a3b42;background-image: url(./assets/designIndustrial/circle.png);background-repeat: no-repeat;background-position:center;background-position-x: right;background-size: 150px">
  <div class="container my-auto">
    <div class="copyright text-center my-auto text-white py-2">
      <h3><b>Contact Us</b></h3>
      <div class="row">
        <div class=" text-center" style="display: block;margin-left: auto;margin-right: auto;">
          <p><img src="./assets/maps.png"> Cra 53 # 13 - 65 Cali, Colombia</p>
          <p> <img src="./assets/phone.png"> 317 515 4213 - 318 554 9129 - 304 4229544</p>
          <p><img src="./assets/mail.png"> contacto@agrosmartco.com.co</p>
          <br />
        </div>

      </div>
      <span>By <Strong>A</Strong>groSmart Team</span>
    </div>
  </div>
</footer>
  </div>
  
      
      
      



  
     
  
  


