


  <app-navegacion></app-navegacion>
  

  <div id="page-content-wrapper">
      
  <div class="container container-fluid">

      <div class="row justify-content-center">
          <div class="col-10">
              <h1 class="text-muted" align="center">Procesos de Certificación</h1>
              <br>
              <p class="lead">En Agrosmart lo apoyamos en el crecimiento de su empresa. <br> 
                En compañía de nuestro de equipo de consultores, usted recibirá asesoría, acompañamiento y seguimiento en cada uno de los procesos de certificación requeridos para comercializar y exportar su producto.</p>
          </div>
          
        </div>
        <br>
        <br>
        
        <div class="row justify-content-center">
          <div class="col-10">
              <h2 class="text-muted">¿Para qué certificarse?</h2>
              <p class="lead">
                  Certificarse garantiza que, su o sus productos, cumple con todos los procedimientos de vistos buenos exigidos por los entes regulatorios en el territorio nacional. Estos procedimientos le indican al mercado que su producto no afectará la salud de los seres humanos y los animales.
                </p>
          </div>
         
        </div>
        <br>
        <br>
        
        
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-muted">¿Cuáles son los organismos regulatorios con los que debo certificar mi producto y/o Empresa?</h2>
                <p class="lead">
                    Para certificar  su producto, debe identificar cuál es la necesidad actual. Agrosmart lo apoyará en cada uno de los requerimientos solicitados para cada ente con el objetivo de agilizar el proceso y pueda impulsar el crecimiento de su negocio.
                    
                    Una vez identificada, remitase a uno de los siguientes entes regulatorios:
                  </p>
                  <br>
            </div>
          </div>

          <br>
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <img src="../../../../assets/certificaciones/logo-ica.svg" alt="" class="img-fluid">
              </div>
            <div class="col-lg-5">
                <blockquote class="blockquote">
                    <p class="lead">"El Instituto Colombiano Agropecuario, ICA, tiene por objeto contribuir al desarrollo sostenido del sector agropecuario, pesquero y acuícola, mediante la prevención, vigilancia y control de los riesgos sanitarios, biológicos y químicos para las especies animales y vegetales, la investigación aplicada y la administración, investigación y ordenamiento de los recursos pesqueros y acuícolas, con el fin de proteger la salud de las personas, los animales y las plantas y asegurar las condiciones del comercio"</p>
                    <footer class="blockquote-footer"><cite title="Source Title"><a href="https://www.ica.gov.co/el-ica/funciones">Instituto Colombiano Agropecuario</a></cite></footer>
                  </blockquote>
            </div>
          </div>

          <br>
          <br>
          <div class="row justify-content-center">
              <div class="col-lg-5 order-lg-2">
                <img src="../../../../assets/certificaciones/invima/invima.png" alt="" class="img-fluid">
                </div>
              <div class="col-lg-5 order-lg-1">
                  <p class="lead">Si su necesidad es ingresar su producto a grandes superficies o exportarlo, es necesario que su producto o productos tengan este registro.</p>
                  <blockquote class="blockquote">
                      <p class="lead">"INVIMA ejerce el control de calidad y seguridad de los medicamentos, productos biológicos, alimentos,<strong> bebidas, cosméticos,</strong> dispositivos y elementos médico-quirúrgicos, odontológicos, productos naturales homeopáticos y los generados por biotecnología, reactivos de diagnóstico, y otros que puedan tener impacto en la salud individual y colectiva. Adicionalmente, realizar el control sanitario sobre la publicidad de los productos antes citados"</p>
                      <footer class="blockquote-footer"><cite title="Source Title"><a href="http://www.redconsumidor.gov.co/publicaciones/invima_pub">Red Nacional de Protección al Consumidor</a></cite></footer>
                    </blockquote>
              </div>
            </div>


            <br>
          <br>
          <div class="row justify-content-center">
              <div class="col-lg-5 order-lg-1">
                <img src="../../../../assets/certificaciones/procolombia.jpg" alt="" class="img-fluid">
                </div>
              <div class="col-lg-5 order-lg-2">
                  <blockquote class="blockquote">
                      <p class="lead">"Organización encargada de la promoción comercial de las exportaciones no tradicionales, el turismo internacional y la Inversión Extranjera en Colombia. A través de su red nacional e internacional de oficinas, brinda apoyo y asesoría integral a los empresarios nacionales, mediante servicios dirigidos a facilitar el diseño y ejecución de su estrategia de internacionalización, buscando la generación, desarrollo y cierre de oportunidades de negocios"</p>
                      <footer class="blockquote-footer"><cite title="Source Title"><a href="https://www.inviertaencolombia.com.co/acerca-de-proexport.html">Invierta en Colombia</a></cite></footer>
                    </blockquote>
              </div>
            </div>

            <br>
            <br>

            <div class="row justify-content-center">
                <div class="col-lg-5 order-lg-2">
                  <img src="../../../../assets/certificaciones/registro exportador/Dian.png" alt="" class="img-fluid">
                  </div>
                <div class="col-lg-5 order-lg-1">
                    <blockquote class="blockquote">
                        <p class="lead">"En Colombia cualquier empresa o persona natural que pretenda realizar exportaciones, debe tener un Registro único Tributario -RUT- que lo habilite ante la Dirección de Impuestos y Aduanas Nacionales -DIAN-; si ya lo tiene debe verificar que esté registrado como exportador, de lo contrario necesitará actualizarlo; además, al ejecutar operaciones de importación y/o exportación estará obligado a operar bajo Régimen Común, por lo cual debe tramitar ante la DIAN su resolución de facturación. No olvide que tendrá responsabilidad tributaria (declaración de IVA, facturación, retenciones, exógena entre otros) estará inscrito en el Muisca y contará con una firma electrónica (DIAN). Estos trámites y documentos se tramitan en las oficinas de la DIAN, o <a href="https://www.dian.gov.co/">vía www.dian.gov.co</a>"</p>
                        <footer class="blockquote-footer"><cite title="Source Title"><a href="../../../../assets/certificaciones/documentos procolombia/Guia_Proceso_Exportaciones 2018(262).pdf" download="Guiaprocolombia">
                          Guía de Proceso de Exportaciones de Procolombia
                          </a></cite></footer>
                      </blockquote>
                </div>
              </div>

  </div>
  <br>
  <footer class="sticky-footer "
  style="background-color:#3a3b42;background-image: url(./assets/designIndustrial/circle.png);background-repeat: no-repeat;background-position:center;background-position-x: right;background-size: 150px">
  <div class="container my-auto">
    <div class="copyright text-center my-auto text-white py-2">
      <h3><b>Contáctenos</b></h3>
      <div class="row">
        <div class=" text-center" style="display: block;margin-left: auto;margin-right: auto;">
          <p><img src="./assets/maps.png"> Cra 53 # 13 - 65 Cali, Colombia</p>
          <p> <img src="./assets/phone.png"> 317 515 4213 - 318 554 9129 - 304 4229544</p>
          <p><img src="./assets/mail.png"> contacto@agrosmartco.com.co</p>
          <br />
        </div>

      </div>
      <span>By <Strong>A</Strong>groSmart Team</span>
    </div>
  </div>
</footer>
  </div>
  
      
      
      



  
     
  
  

