<app-navegacion></app-navegacion>
<div class="container-fluid">
  <br>
  <div class="container-fluid text-black">

    <div class="container">
      <div class="col-xl-12 col-md-4 mb-4 ">
        <div class="card  shadow py-1" style="border-radius: 15px;background-color: rgba(255, 255, 255,0.3)">
            <div class="row no-gutters">
              <div class="col mr-1 ">
                <div class="card-body">
                  <h1 class="mt-4 text-center font-weight-bold" style="color:#4d4d4d ">¿Tiene el control de los datos de su negocio?
                  </h1>
                  <p class="text-left lead">
                      En AgroSmart Co lo ayudamos a crear tableros de control que le permitirán tomar decisiones acertadas para el
                      crecimiento de su negocio.
                  </p>
                  <p class="lead">
                      Contamos con personas expertas en el manejo y extracción de datos; no nos limitamos con la tecnología, tenemos
                      experiencia en los principales motores de base de datos así que no se preocupe, nosotros nos encargamos.
                  </p>

                  <div class="row images justify-content-center">
                    <div class="col-xl-3 col-md-4 mb-4 ">
                      <img class="images" src="./assets/statistics/Oracle.png" style=" max-width:130px;max-height:130px ;">
                    </div>
                    <div class="col-xl-3 col-md-4 mb-4 ">
                      <img class="images" src="./assets/statistics/Sqlserver.png"
                        style="border-radius: 5px;max-width:100px;max-height:100px ;">
                    </div>
                    <div class="col-xl-3 col-md-4 mb-4 ">
                      <img class="images" src="./assets/statistics/Postgres.png"
                        style="border-radius: 5px;max-width:100px;max-height:100px ;">
                    </div>
                    <div class="col-xl-3 col-md-4 mb-4 ">
                      <img class="images" src="./assets/statistics/Mysql.png"
                        style="border-radius: 5px;max-width:130px;max-height:130px ;">
                    </div>
                  </div>

                  <p class="lead">
                      A continuación, podrá ver un ejemplo de un tablero de control:
                  </p>
                </div>

              </div>
            </div>
        </div>
      </div>

    </div>
  </div>

  <div style="width:80%" class="container-fluid"  id="5">
    <br>
    <div class="col-xl-2 col-md-4 mb-4 ">
      <div class="card border-left shadow py-1" style="border-radius: 15px;max-width: 200px;max-height: 50px;">
        <div class="card-header">
          <div class="row no-gutters align-items-center">
            <div class="col mr-1 text-center">
              <div class="h6 mb-0 text-center font-weight-bold">2018</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left shadow h-100 py-2" style="border-radius: 15px">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total</div>
                <div class="h4 mb-0 font-weight-bold text-gray-800">100</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2" style="border-radius: 15px;">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Abiertos</div>
                <div class="h4 mb-0 font-weight-bold text-gray-800">200</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-door-open fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2" style="border-radius: 15px;">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pendientes</div>
                <div class="h4 mb-0 font-weight-bold text-gray-800">50</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-hand-paper fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-2 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2" style="border-radius: 15px;">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cerrados</div>
                <div class="h4 mb-0 font-weight-bold text-gray-800">40</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-door-closed fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left shadow h-100 py-2" style="border-radius: 15px;">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rendimiento</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h4 mb-0 mr-3 font-weight-bold text-gray-800">80%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div [ngStyle]="{'width.%':80}" class="progress-bar bg-info" role="progressbar" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-poll fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xl-12">
        <div class="card shadow mb-2">
          <div class="card-header py-3" style="background:rgba(32, 151, 91,0.8)">
            <h6 class="m-0 font-weight-bold text-white">CENTRO DE INFORMACION</h6>
          </div>
          <div class="card-body">
            <div class="chart-bar">
              <iframe style="width:100%" width="1200" height="600"
                src="https://app.powerbi.com/view?r=eyJrIjoiMDY1ZWQyMGMtMzY0OC00NjkyLTg2NzEtYzUzYjg1NGQ1ZGU3IiwidCI6IjkxNmEzM2QxLTViNDItNDY1My05NmMwLTIwY2UzMjIxYTRjNSIsImMiOjZ9"
                frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <hr>
            En esta seccion tu puedes realizar filtros y controlar las graficas.
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<footer class="sticky-footer pt-4" style="background-color:rgba(38,50,56);color: white">


    <div class="container-fluid text-center text-md-left">
  
      <div class="text-center my-auto text-white py-2">
        <h3><b>Contáctenos</b></h3>
        <div class="row">
          <div class=" text-center" style="display: block;margin-left: auto;margin-right: auto;">
            <p><img src="./assets/maps.png"> Cra 53 # 13 - 65 Cali, Colombia</p>
            <p> <img src="./assets/phone.png"> 317 515 4213 - 318 554 9129 - 304 4229544</p>
            <p><img src="./assets/mail.png"> contacto@agrosmartco.com.co</p>
          </div>
        </div>
        <div class="row justify-content-center">
  
           <a target="_blank" href="https://www.linkedin.com/company/agrosmart-co"><img src="./assets/linkedin.png" style="max-width: 50px;max-height: 50px"></a> 
            <a  target="_blank" href="https://www.youtube.com/channel/UCM7SZIlGOs9pZpAIHogapUw"><img src="./assets/youtube.png" style="max-width: 50px;max-height: 50px;margin-left: 10px"></a> 
    
        </div>
      </div>
  
    </div>
  
    <div class="footer-copyright text-center py-3" style="background-color:rgba(30,40,45);color: white">© 2019 Copyright:
      <a> AgroSmart Co</a>
    </div>
  
  </footer>