<div class="container-fluid"
  style="background-image: url(./assets/Banner.jpg);background-repeat: no-repeat;background-size:cover;">
  <app-navegacion></app-navegacion>
  <div class="container py-4">

    <div class="row">

        <div class="col-xl-3 col-md-4 mb-2">
            <div class="card border-left shadow h-100 py-2"
              style="border-radius: 15px;background-color: rgba(255, 255, 255,0.8)">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 text-center mb-1" style="color:#4d4d4d">
                      <strong>Nuestros Proyectos Agro</strong>
                    </div>
                    <br>
                    <img src="./assets/green.png" style="width:140px;height:130px;display: block; margin-left: auto;
                    margin-right: auto" class="card-img-top">
                    <hr>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">
                      <button class="btn btn-success btn-block" routerLink="/proyectos" routerLinkActive="active">GO
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-md-4 mb-2">
            <div class="card border-left shadow h-100 py-2"
              style="border-radius: 15px;background-color: rgba(255, 255, 255,0.8)">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 text-center mb-1" style="color:#4d4d4d">
                      <strong>Construimos las estadisticas de su negocio</strong>
                    </div>
                    <img [src]="'./assets/statistics.png'" style="width: 140px;height:130px;display: block; margin-left: auto;
                    margin-right: auto" class="card-img-top">
                    <hr>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">
                      <button class="btn btn-success btn-block">GO
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-md-4 mb-2">
            <div class="card border-left shadow h-100 py-2"
              style="border-radius: 15px;background-color: rgba(255, 255, 255,0.8)">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 text-center mb-1" style="color:#4d4d4d">
                      <strong>Lo acompañamos en su proceso de certificacion</strong>
                    </div>
                    <img src="./assets/certified.png" style="width: 140px;height:130px;display: block; margin-left: auto;
                    margin-right: auto" class="card-img-top">
                    <hr>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">
                      <button class="btn btn-success btn-block">GO</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-xl-3 col-md-4 mb-2">
            <div class="card border-left shadow h-100 py-2"
              style="border-radius: 15px;background-color: rgba(255, 255, 255,0.8)">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 text-center mb-1" style="color:#4d4d4d">
                      <strong>Buenas practicas para el manejo de su cultivo</strong>
                    </div>
                    <img src="./assets/check.png" style="width:140px;height:130px;display: block; margin-left: auto;
                    margin-right: auto" class="card-img-top">
                    <hr>
                    <div class="h4 mb-0 font-weight-bold text-gray-800">
                      <button class="btn btn-success btn-block" role="link"
                        onclick="window.open('https://psmtonedrive.sharepoint.com/sites/POSTeamSite/Base%20of%20knowledge/Forms/AllItems.aspx','_blank')">GO
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
<div class="d-flex toggled" id="wrapper">
  <div class="container-fluid">


    <hr>

    <div class="container-fluid">
      <div class="container">
        <h1 class="mt-4 text-center font-weight-bold" style="color:#4d4d4d ">Acerca de Nosotros
        </h1>
        <div class="container">
          <p class="text-center font-weight">Somos una empresa netamente caleña, que nace para
            brindar soluciones innovadoras a través de las TIC en el sector agricultor colombiano, especialmente el
            sector cocotero.
            <br>
            Estamos seguros que, a través de soluciones de innovadoras, ayudaremos e impulsaremos el crecimiento de un
            sector con enorme potencial en el panorama nacional e internacional. Proporcionamos soluciones de desarrollo
            de software utilizando tecnología de punta, comprometiéndonos a entregar productos que se ajusten a las
            necesidades del sector.
            <br>
            Nuestro equipo,conoce las virtudes y deficiencias del sector, por lo que estamos en la
            capacidad de brindar la mejor respuesta a cada una de las problemáticas y necesidades.

          </p>
          <img src="./assets/AppsCoDip.png" style="max-height: 400px;max-width:400px;width:100% ;display: block; margin-left: auto;
          margin-right: auto;border-radius: 4%"> <br>
        </div>
      </div>
    </div>

    <div class="container-fluid py-5" style="background-color:#f9f8f8">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:#2256a0">E-Commerce
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left font-weight">El E-Commerce, desde cualquier ámbito, ha
                  mostrado un increíble crecimiento en la comercialización de productos tecnológicos, textiles,
                  comestibles, etc. Por este motivo, AgroSmart Co apuesta a la implementación de una plataforma de
                  E-Commerce que permita a los empresarios y productores tener un contacto directo, fomentando y
                  facilitando el crecimiento, la visibilidad, la confianza, las ventas y los negocios en el sector.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-10">
          <img src="./assets/MercadoCampesino.jpg" style="max-width:450px;max-height: 450px;width: 100%;height: 90% ;border-radius: 5%;display: block; margin-left: auto;
          margin-right: auto;opacity:0.9;">
        </div>
      </div>
    </div>

    <div class="container-fluid py-5">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-10">
          <img src="./assets/Drone.gif" style="max-width:450px;max-height: 450px;width: 100%;height: 90%;border-radius: 5%;display: block; margin-left: auto;
          margin-right: auto; opacity: 0.9;">
        </div>
        <div class="col-xl-5 col-lg-10">
          <div class="card shadow py-2 mb-2">
            <div class="card-body">
              <h3 class="mt-4 text-center font-weight-bold" style="color:rgb(31, 138, 84)">Soluciones
                Agro
              </h3>
              <div class="container">
                <p class="text-left font-weight">Además de plataformas como el E-Commerce,
                  AgroSmart Co enfoca su visión en aportar al sector agro, soluciones que permitan generar confianza y
                  faciliten, a los interesados, la creación de estrategias que permitan crear un enfoque en el
                  crecimiento. Para eso, Agro-Smart plantea dentro de su portafolio de innovación, soluciones como
                  Agro-Estadísticas, Sistemas inteligentes de Riego y Sistemas de Detección de Plagas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5"
      style="background-image: url(./assets/designIndustrial/palma.png);background-repeat: no-repeat;background-position:top;background-position-x: right;background-color:#f6f8f6">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
          <div class="card shadow py-2 mb-2" style="background:rgba(255, 255, 255,0.8)">
            <div class="card-body">
              <h3 class="mt-4 text-center font-weight-bold" style="color:#0197cc">Diseño Industrial
              </h3>
              <div class="container">
                <p class="text-center font-weight">En el día a día, cada empresario
                  agroindustrial requiere de maquinaria para agilizar sus procesos de producción. Es por eso que Agro
                  Smart Co, le apuesta (con su equipo de diseño industrial) al diseño y creación de implementos para la
                  transformación de los diferentes productos cosechados en el campo, ofreciendo equipos industriales
                  económicos e indispensables para la ejecución de estos procesos.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-11">
          <img src="./assets/designIndustrial/ralladora.png" style="max-width: 90%;max-height:90%;border-radius: 5%;display: block; margin-left: auto;
          margin-right: auto;opacity: 0.8;">
        </div>

        <div class="col-xl-3 col-lg-11">
          <img src="./assets/designIndustrial/desfibradora.png" style="max-width: 90%;max-height:90%;border-radius: 5%;display: block; margin-left: auto;
                margin-right: auto;opacity: 0.8;">
        </div>
        <div class="col-xl-3 col-lg-11">
          <img src="./assets/designIndustrial/ralladora1.png" style="max-width: 90%;max-height:90%;border-radius: 5%;display: block; margin-left: auto;
                  margin-right: auto;opacity: 0.8;">
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
</div>

<footer class="sticky-footer "
  style="background-color:#3a3b42;background-image: url(./assets/designIndustrial/circle.png);background-repeat: no-repeat;background-position:center;background-position-x: right;background-size: 150px">
  <div class="container my-auto">
    <div class="copyright text-center my-auto text-white py-2">
      <h3><b>Contáctenos</b></h3>
      <div class="row">
        <div class=" text-center" style="display: block;margin-left: auto;margin-right: auto;">
          <p><img src="./assets/maps.png"> Cra 53 # 13 - 65 Cali, Colombia</p>
          <p> <img src="./assets/phone.png"> 317 515 4213 - 318 554 9129 - 304 4229544</p>
          <p><img src="./assets/mail.png"> contacto@agrosmartco.com.co</p>
          <br />
        </div>

      </div>
      <span>By <Strong>A</Strong>groSmart Team</span>
    </div>
  </div>
</footer>