<!-- Page Content -->
<div id="page-content-wrapper">

    <div class="container-fluid">
      <h1 class="mt-4 display-4 offset-1">Proceso Exportador según Procolombia</h1>
      <br>
      <br>
      <br>
      <br>

      

      <div class="row justify-content-center">
        <div class="col-lg-5 order-lg-2">
          <img src="../../../../../assets/certificaciones/registro exportador/coco.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-5 order-lg-1 my-auto showcase-text">
            <h2>1) Subpartida Arancelaria</h2>
          <p class="lead mb-0">Debe tener en cuenta cuál es la ubicación de la subpartida arancelaria del coco en pepa y sus derivados.</p>
          <br>
          <p class="lead mb-0">Procolombia sugiere que ingrese a la fuente de información arancelaria Market Access Map: <a href="http://www.macmap.org/">www.macmap.org</a></p>
          <p class="lead mb-0">Aquí encontrará información del producto que requiere exportar, detallando el origen y destino</p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <div class="row justify-content-center">
          <div class="col-lg-5 order-lg-1 ">
            <img src="../../../../../assets/certificaciones/registro exportador/Dian.png" alt="" class="img-fluid">
          </div>
          <div class="col-lg-5  order-lg-2 my-auto showcase-text">
              <h2>2) Registro como Exportador</h2>
              <p class="lead mb-0">Antes de que se inicie como exportador, es importante que usted o su empresa cuenta con Registro Exportador. Para esto, remitase al siguiente enlace, para conocer el procedimiento para obtenerlo: <a href="http://www.colombiatrade.com.co/preguntas-frecuentes/registro-como-exportador">Registro Como Exportador</a></p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <hr>

        <div class="row justify-content-center">
            <div class="col-lg-5 order-lg-2">
              <img src="../../../../../assets/certificaciones/registro exportador/estudio de mercado.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 order-lg-1 my-auto showcase-text">
                <h2>3) Estudio de Mercado</h2>
              <p class="lead mb-0">Ejecute un estudio del mercado objetivo. Identifique las variables, parámetros y condiciones de su mercado objetivo y conozca la viabilidad y posibilidad de vender su producto en el exterior. </p>
            </div>
          </div>
        <br>
        <br>
        <br>
        <hr>

        <div class="row justify-content-center">
            <div class="col-lg-5 order-lg-1">
              <img src="../../../../../assets/certificaciones/registro exportador/procedimientos.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 order-lg-2 my-auto showcase-text">
                <h2>4) Procedimiento de vistos buenos</h2>
              <p class="lead mb-0">El procedimiento de vistos buenos, tiene como objetivo proteger la salud de los seres humanos y animales. Para esto, tenga presente los organismos regulatorios en los podría apoyarse según las caracteristicas de su producto:  </p>
              <br>
              <ul type="A" start="1">

                <li>ICA (Sanidad animal y vegetal)</li>

                <li>Invima (Medicamentos, Alimentos, Productos Cosméticos)</li>

                <li>Ministerio de Ambiente (Preservación de fauna y flora silvestre)</li>

                <li>Entre otras</li>

                </ul>
            </div>
          </div>
        <br>
        <br>
        <br>
        <hr>

        <div class="row justify-content-center">
            <div class="col-lg-5 order-lg-2">
              <img src="../../../../../assets/certificaciones/registro exportador/costos.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 order-lg-1 my-auto showcase-text">
                <h2>5) Matriz de Costos</h2>
              <p class="lead mb-0">Ejecute un estudio del mercado objetivo. Identifique las variables, parámetros y condiciones de su mercado objetivo y conozca la viabilidad y posibilidad de vender su producto en el exterior. </p>
              <br>
              <p class="lead mb-0">Procolombia, le brinda la posibilidad de usar un simulador de costos. Citando a este ente, el <a href="http://simuladordecostos.procolombia.co/dfi/master.html#/autenticacion">Simulador de Costos</a> se define como "Una herramienta web que se ofrece a los empresarios. En ella es posible consultar los costos desde que la mercancía de fábrica hasta que se hace su entrega [...] Esta herramienta sirve para analizar en detalle los costos de distribución física internacional y de producción, apoyando la toma de decisiones en el proceso de exportación"</p>
              
            </div>
          </div>
        <br>
        <br>
        <br>
        <hr>

        <div class="row justify-content-center">
            <div class="col-lg-5 order-lg-1">
              <img src="../../../../../assets/certificaciones/registro exportador/logistica.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 order-lg-2 my-auto showcase-text">
                <h2>6) Logistica Internacional</h2>
              <p class="lead mb-0">Es de vital importancia, como empresa o empresario, conocer los principales requerimientos para la logistica en el momento de exportar su producto. Si desea saber mas ingrese al siguiente enlace: <a href="http://www.procolombia.co/logistica">Logistica Internacional</a> </p>
            </div>
          </div>
          <br>
          <br>
          <br>
          <hr>

          <div class="row justify-content-center">
              <div class="col-lg-5 order-lg-2">
                <img src="../../../../../assets/certificaciones/registro exportador/condiciones de acceso.png" alt="" class="img-fluid">
              </div>
              <div class="col-lg-5 order-lg-1 my-auto showcase-text">
                  <h2>7)  Condiciones de Acceso al Mercado</h2>
                <p class="lead mb-0">Debe tener claro cuales son las condiciones para acceder a mercados internacionales: Aranceles, Normas de Origen, Acuerdos Comerciales, Reglamentos Técnicos y Medidas Sanitarias y Fitosanitarias </p>
              </div>
            </div>
            <br>
            <br>
            <br>
            <hr>

            <div class="row justify-content-center">
                <div class="col-lg-5 order-lg-1">
                  <img src="../../../../../assets/certificaciones/registro exportador/aduana.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-5 order-lg-2 my-auto showcase-text">
                    <h2>8) Forma de Pago y Procedimientos Aduaneros</h2>
                  <p class="lead mb-0">Procolombia: "Cuando tenga lista la mercancía verifique términos de negociación.
                    Puede utilizar un agente de carga o marítimo para la contratación de transporte internacional.</p>
                  <p class="lead mb-0">
                    En la DIAN del Puerto, Aeropuerto o Paso de Frontera, puede solicitar la Solicitud de Autorización de Embarque.
                    Si la exportación tiene un valor superior a USD10.000, este procedimiento se debe hacer a través de una Agencia de Aduanas" </p>
                </div>
              </div>
              <br>
              <br>
              <br>

          
    </div>
  </div>

