<app-navegacion></app-navegacion>

<section>
  <h1 class="mt-4 text-center font-weight-bold colortitulos">¿Cómo Nace Agrosmart?</h1>

  <div class="container-fluid py-5" style="background-color:#f9f8f8">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-10">
        <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
          <h3 class="mt-4 text-center font-weight-bold" style="color:#2256a0">Una Gran Oportunidad
          </h3>
          <div class="card-body">
            <div class="container">
              <p class="text-left lead">Agrosmart es una idea que nace en respuesta a evidentes falencias y
                problemas en el sector cocotero. Debido a nuestra interacción directa con el sector y al conocimiento
                que tiene nuestro equipo acerca de los procesos de transformación del coco (desde la cosecha hasta su
                consumo), identificamos que el sector puede alcanzar su máximo potencial apoyándose directamente en la
                tecnología.
              </p>
              <p class="lead">
                Por este motivo, decidimos afianzarnos como equipo para analizar y proponer soluciones que permitan
                generar un crecimiento y desarrollo en el sector. Estamos seguros que nuestro trabajo, nos permitirá
                brindar e implementar soluciones que finalmente se consoliden como oportunidades de mejora.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-10">
        <img src="./assets/idea.jpg" style="max-width:450px;max-height: 450px;width: 100%;height: 90% ;border-radius: 5%;display: block; margin-left: auto;
            margin-right: auto;opacity:0.9;">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="container">
      <h1 class="mt-4 text-center font-weight-bold colortitulos">¿Por qué trabajar con Nosotros?
      </h1>
      <div class="container">
        <p class="text-center lead">Somos un equipo emprendedor comprometido con nuestros valores empresariales.
          Nos apasiona la tecnología, el emprendimiento, los retos y la innovación.
        </p>
        <br>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:#2256a0">Honestidad
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left lead">La honestidad es un valor que prima en nuestro equipo. Ser nuestra
                  palabra es la carta de presentación para nuestros clientes. Ser honestos nos expone ante el mundo y
                  sobretodo ante nuestros clientes, como personas y emprendedores confiables, creíbles y responsables.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:rgb(31, 138, 84)">Compromiso
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left lead">Ser apasionados por lo que hacemos, nos facilita ser comprometidos no
                  solo con nuestros clientes, sino con nosotros mismos.
                </p>
                <p class="lead">
                  El compromiso nos permite estar en la busqueda de ideas innovadoras y de nuevas y mejores soluciones.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-10">
          <div class="card shadow py-2 mb-2" style="display: block; margin-left: auto;">
            <h3 class="mt-4 text-center font-weight-bold" style="color:#0197cc">Respeto
            </h3>
            <div class="card-body">
              <div class="container">
                <p class="text-left lead">
                  Cuando respetamos a aquellos que hacen parte de nuestro equipo de trabajo, el trabajo deja de ser en
                  equipo y se convierte en trabajo en familia. Consolidar una cultura de respeto en nuestro equipo, nos
                  garantiza que respetemos 100% a nuestros clientes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid py-5">
  <div class="container">

    <div class="container">
      <h1 class="mt-4 text-center font-weight-bold colortitulos">Nuestro Equipo
      </h1>
      <div class="container">
        <p class="text-center lead">Somos un equipo emprendedor comprometido con nuestros valores empresariales.
          Nos apasiona la tecnología, el emprendimiento, los retos y la innovación.
        </p>
        <br>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="./assets/team/angel.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ángel</h5>
              <p class="card-text">Soy Ángel Jarrín. Ingeniero Telemático. Me gusta la innovación, la tecnología y el
                desarrollo de aplicaciones móviles. Me gustan los retos y aprender de cada experiencia que el mundo
                tecnológico demanda.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="./assets/team/juan.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">JuanCa</h5>
              <p class="card-text">Soy Juan Carlos Cadavid. Ingeniero de Sistemas. Me apasiona la tecnología, la
                investigación y los retos. Amo el desarrollo de software, la resolución de problemas y proponer ideas
                innovadoras. </p>
            </div>
          </div>

        </div>
        <div class="col">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="./assets/team/cristian.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cristian</h5>
              <p class="card-text">Soy Cristian Molina. Diseñador Industrial. Me encanta la innovación y la consultoría.
                Me apasiona diseñar, construir e implementar soluciones industriales para cada uno de los procesos de
                mis clientes. </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<footer class="sticky-footer pt-4" style="background-color:rgba(38,50,56);color: white">


  <div class="container-fluid text-center text-md-left">

    <div class="text-center my-auto text-white py-2">
      <h3><b>Contáctenos</b></h3>
      <div class="row">
        <div class=" text-center" style="display: block;margin-left: auto;margin-right: auto;">
          <p><img src="./assets/maps.png"> Cra 53 # 13 - 65 Cali, Colombia</p>
          <p> <img src="./assets/phone.png"> 317 515 4213 - 318 554 9129 - 304 4229544</p>
          <p><img src="./assets/mail.png"> contacto@agrosmartco.com.co</p>
        </div>
      </div>
      <div class="row justify-content-center">

        <a target="_blank" href="https://www.linkedin.com/company/agrosmart-co"><img src="./assets/linkedin.png"
            style="max-width: 50px;max-height: 50px"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCM7SZIlGOs9pZpAIHogapUw"><img
            src="./assets/youtube.png" style="max-width: 50px;max-height: 50px;margin-left: 10px"></a>

      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3" style="background-color:rgba(30,40,45);color: white">© 2019 Copyright:
    <a> AgroSmart Co</a>
  </div>

</footer>